* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #80808029;
    font-family: Raleway;
}

/* Estilização do Topo*/

header {
    background-color: #fff;
    height: 55px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.logo-topo {
    width: 32px;
    height: 32px;
}

.topo {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.fonte-topo {
    font-size: 24px;
    color: #5d15d1;
    margin-left: 10px;
}

.largura-maxima {
    max-width: 1024px;
}

/* Estilização da Seção do formulário*/

.secao-formulario {
    width: 100vw;
    height: auto;
    background-image: url('../assets/bahia.jpg');
    padding: 50px 0px;
}

.cabecalho-formulario {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.formulario-topo {
    width: 100%;
    height: 35px;
    background-color: #5d15d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-aviao {
    width: 20px;
    height: 20px;
    transform: rotate(-45deg)
}

.titulo-formulario {
    font-size: 14px;
    color: #fff;
    margin-left: 5px;
}

.formulario {
    width: 100%;
    background-color: #fff;
    padding: 30px 25px 20px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sub-titulo-formulario {
    font-size: 22px;
    margin-bottom: 24px;
}

.formulario label {
    font-size: 16px;
}

.formulario input,
.formulario select {
    height: 32px;
    width: 100%;
    margin: 10px 0;
}

.formulario input {
    padding: 0 5px;
    box-sizing: border-box;
}

.formulario select {
    padding: 0 3px;
}

.formulario-campo-duplo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.formulario-campo-duplo div {
    width: calc(50% - 10px);
}

.opcoes {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.opcoes div {
    display: flex;
    align-items: center;
    width: 120px;
}

.opcoes input {
    width: 15px;
}

.opcoes label {
    margin-left: 8px;
}

form button {
    width: 160px;
    height: 32px;
    background-color: #5d15d1;
    color: #fff;
    border: none;
    font-size: 16px;
    margin-top: 12px;
    cursor: pointer;
}

/* Estilização da Seção do Ofertas*/

.ofertas-area,
.natureza-area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 32px auto 0 auto;
}

.ofertas-titulo,
.natureza-titulo {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.ofertas-descricao,
.natureza-descricao {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 15px 0;
}


.ofertas-descricao span {
    font-weight: bold;
}

.ofertas-imagens {
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
}

.oferta-imagem-destaque {
    position: relative;
    width: calc(50% - 10px);
    height: 100%;
}

.oferta-quatro-imagens {
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.oferta-quatro-imagens figure {
    position: relative;
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 0 6px;
}

.oferta-imagem-destaque img,
.oferta-quatro-imagens img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.oferta-imagem-destaque figcaption,
.oferta-quatro-imagens figcaption {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    background: rgb(0 0 0 / 50%);
    font-size: 17px;
    color: #fff;

    padding: 5px 10px;
    box-sizing: border-box;
}

.secao-natureza {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

natureza-duas-imagens {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.natureza-imagem {
    width: calc(50% - 10px);
    height: 100%;
}

.natureza-imagem img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.natureza-imagem div {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
}

.natureza-imagem h3 {
    font-size: 16px;
}

.natureza-imagem p {
    color: grey;
    font-size: 14px;
    margin: 15px 0 0 0px;
}

/*Estilizando o rodapé*/

footer {
    width: 100%;
    background-color: #5d15d1;
    margin-top: 32px;
}

.rodape {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.rodape-conteudo {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.rodape-conteudo h2 {
    color: #fff;
    margin: 0 0 15px 0;
    font-size: 20px;
}

.rodape-conteudo div {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.rodape-conteudo img {
    width: 18px;
}

.rodape-conteudo span {
    color: #fff;
    font-size: 14px;
    margin: 0 0 0 10px;
}